{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="JK Occupational Therapy, Ireland">
	<meta name="keywords" content="OT, Occupatioanal therapist, Occupational therapy">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" type="text/css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"  
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='shortcut icon' type='image/x-icon' href="{% static 'favicon.ico' %}" />

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    
    <title>JK Occupational therapy </title>
</head>
<body class="home">
        <div class="navbar navbar-expand-lg bg-dark navbar-dark"></div>
        <div class="p-5 bg-info text-white text-center">
            <img src="logo.png" alt="logo" class="img-fluid">
            <h1>JK Occupational Therapy</h1>
            <p>We provide excellent service because We care! We do! 
            </p> 
          </div>
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <div class="container-fluid">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link hvr-sweep-to-bottom ml-3 mr-3" style="color: white;" href="/home"> Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link hvr-sweep-to-bottom ml-3 mr-3 active hvr-sweep-to-bottom ml-3 mr-3" style="color: yellow;" href="/about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link hvr-sweep-to-bottom ml-3 mr-3" style="color:  white;" href="/what_we_do">What We do</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link hvr-sweep-to-bottom ml-3 mr-3" style="color:  white;" href="/appointment">Appointment </a>
                  </li>
              </ul>
            </div>
        </nav>
        <div  class="my-4 mx-4 p-4 text-align: justify;">
            <section  class="mx-4 mt-4 px-4 text-align: justify;">
                <p>  JK Occupational Therapy Services is a private practice and owned by Jothikumar
                    Ramakrishnan, Occupational Therapist with 18 years of experience in various fields of
                    Occupational Therapy in three countries such as India, United Kingdom and Ireland.
                </p>
            </section>    
            <section  class="mx-4 px-4 text-align: justify;"> 
                <div class="mt-4">  
                <h3 class="border">Jothikumar’s Profile:</h3>
                </div> 
                <p class="mt-4">
                    I’m a member of Association of Occupational Therapists in Ireland (AOTI) and All India
                    Occupational Therapist’s Association (AIOTA). I’m a CORU registered Occupational
                    Therapist. I gained my graduation in Occupational Therapy (OT) from the Tamil Nadu Dr
                    M.G.R. Medical University in India in 2004 and I completed my Post Graduation in Posture,
                    Seating and Wheelchair Mobility across the life course from University of Limerick in
                    2015. I’ve 18 years of experience including Hospital, Clinic, School, Therapy and
                    community settings. During my career I have worked in three different countries such as
                    India, United Kingdom and Ireland.
                </p>
                <p class="pb-3s">
                    I’m a committee member and Treasurer for Housing Advisory Group, AOTI.
                    I started my private practice in Occupational Therapy in 2016 and I have completed
                    various assessments, interventions and reports for my clients all over Ireland. I’m
                    specialised in
                </p>    
                <ul class="col-lg-6 text-white bg-dark">
                    <li class="ml-3 pt-3">Seating and wheelchair assessments for clients at home and residential settings</li>
                    <li class="ml-3 pt-3">Housing Assessment ranging from minor to complex home modifications</li>
                    <li class="ml-3 pt-3">Functional assessments</li>
                    <li class="ml-3 pt-3">Home Safety assessments</li>
                    <li class="ml-3 pt-3">Cognitive assessments</li>
                    <li class="ml-3 pt-3">Fitness to drive assessments (for elderly)</li>
                    <li class="ml-3 pt-3 pb-3">Moving and handling assessments for residential settings</li>
                </ul>
    
                <p>
                    I’ve provided services to Brothers of Charity, Rehabcare, Post-Polio Support Group,
                    Western Care, University of Limerick and various Nursing homes &amp; Residential service
                    providers.
                </p>
                <p>
                    I’m also passionate about teaching Occupational Therapy and I’ve present guest lectures
                    in Ireland and India. I’m a Guest Lecturer for Saveetha University, India.
                </p>
                <p>
                    If you need any Occupational Therapy services or wish to enquire about services
                    provided, please feel free to contact us.
                </p>
            </section>
        </div>
        <div class="navbar navbar-expand-lg bg-dark navbar-dark"></div>
        <div class=" p-5 bg-info text-white text-center">
            <p class="mr-2" style="color: yellow;">Connect with us</p>
            <div class="smed">
            <a href=""><i class="fa-brands fa-square-twitter text-white fa-2x mr-md-4 mr-4"></i></a>
            <a href=""><i class="fa-brands fa-facebook text-white fa-2x mr-md-4 mr-4" ></i></a>
            <a href=""><i class="fa-brands fa-linkedin text-white fa-2x mr-md-4 mr-4"></i></a>
            <a href=""><i class="fa-brands fa-youtube text-white fa-2x mr-md-4 mr-4"></i></a>
            </div>    
        </div>
        <div class="navbar navbar-expand-lg bg-dark navbar-dark"></div>   
    </body>
    <script src="https://kit.fontawesome.com/af7da2c3f6.js" crossorigin="anonymous"></script>
</html>



<!-- <div class="row no-gutters" style="background-color: #00C5CD">
            <a class="col-md-4">
                <img src="assets/images/logo.png"   alt="logo">
            </a>
            <div class="col-md-8">
                <div class="row no-gutters bg-color-name-title">
                    <div class="col heading">
                        <h1 class="name mt-5 mb-3 text-align-centre" style="font-size: 65px;">JK Occupational Therapy</h1>
                    </div>
                </div>
                <div>
                    <ul id="nav" class="list-inline menucontainer  ml-3 mr-3">
                            
                                <li class="col-9 mb-4" style="font-size: 20px; #096d71; ">
                                    <td><a href = "/home"class="hvr-sweep-to-bottom ml-3 mr-3"class="fa fa-home" aria-hidden="true">Home</a></td>
                                    <td><a href = "/about" class="hvr-sweep-to-bottom ml-3 mr-3">About</a></td>
                                    <td><a href = "/what_we_do" class="hvr-sweep-to-bottom ml-3 mr-3">What We do</a></td>
                                    <td><a href = "/appointments" class="hvr-sweep-to-bottom ml-3 mr-3">Appointment</a></td>
                                    <td><a href = "/contact" class="hvr-sweep-to-bottom">Contact</a></td>
                                </li> -->
                            <!-- <td><a href = "/about">About</a> -->
                            <!-- <li class="col-6 col-sm-2 mt-3 mb-3 list-inline-item ui-menu-color">
                                <a href="home.html" target="_self" class="hvr-sweep-to-bottom"><i class="fa fa-home" aria-hidden="true"></i><span class="ui-menu-color">Home</span></a>
                            </li>
                            <li class="col-6 col-sm-2 mt-3 mb-3 list-inline-item">
                                <a href="about.html" target="_self" class="active"class="hvr-sweep-to-bottom"><span> old About</span></a>
                            </li> 
                            <li class="col-6 col-sm-2 mt-3 mb-3 list-inline-item">
                                <a href="what-we-do.html" target="_self" class="hvr-sweep-to-bottom"></i><span>What we do</span></a>
                            </li>
                            <li class="col-6 col-sm-2 mt-3 mb-3 list-inline-item">
                                <a href="Appointments.html" target="_self" class="hvr-sweep-to-bottom"></i><span>Appointment</span></a>
                            </li> -->
                        <!-- </ul>
                    </div>
                </div>
            </div>
        </div>  -->