<!DOCTYPE html>
<html lang="en">
<body>
    <title>JK Occupational therapy </title>
    <link rel="stylesheet" href="index.html">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="JK Occupational Therapy, Ireland">
        <meta name="keywords" content="OT, Occupatioanal therapist, Occupational therapy">
    
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css" type="text/css" />
    
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"  
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="assets/css/style.css">
        
        <title>JK Occupational therapy </title>
    </head>
  <body class="body">
    <div class="container mt-4 col-sm-4 col-lg-4 ">
        <div class="row mr-12 ml-12">
         <!-- <div class="col-md-6 col-lg-6"> -->
            <div class="header col-12">
              <h4 class="text-center my-2" >
             Appointment
              </h4>
            </div>
              <form method="POST" action="add" class="form">
                {% csrf_token %}
                  <div class="form-group row mt-8">
                      <label class=" text-center col-sm-4 col-lg-4" >
                           Firstname
                      </label>
                      <div class="col-sm-8 col-lg-8">
                          <input type="text" id="first_name" class="form-control"
                          placeholder="Name"required>
                      </div>
                  </div>
                  <div class="form-group row">
                    <label class=" text-center col-sm-4 col-lg-4">
                        Lastname
                    </label>
                    <div class="col-sm-8 col-lg-8">
                        <input type="text"id="last_name"class="form-control"
                        placeholder="Name"required> 
                    </div>
                </div>
                  
                <div class="form-group row">
                    <label class=" text-center col-sm-4 col-lg-4">
                        Mobile-ext
                    </label>
                    <div class="col-sm-8 col-lg-8">
                        <input type="text" id="mobile-ext"class="form-control"
                        placeholder="123"required>
                    </div>
                </div>
               
               
                <div class="form-group row">
                    <label class="text-center col-sm-4 col-lg-4">
                        Mobile
                    </label>
                    <div class="col-sm-8 col-lg-8">
                        <input type="text" id="mobile"class="form-control"
                        placeholder="123"required>
                    </div>
                </div>
                
                <div class="form-group row">
                    <label class=" text-center col-sm-4 col-lg-4">
                      Date
                    </label>
                    <div class="col-sm-8 col-lg-8">
                        <input type="date"id="date"class="form-control">
                    </div>
                </div>
                
                <div class="form-group row">
                    <label class=" text-center col-sm-4 col-lg-4">
                       Time
                    </label>
                    <div class="col-sm-8 col-lg-8">
                        <input type="time"id="time"class="form-control">
                       </div>
                </div>
               
                <div class="form-group row">
                    <label class=" text-center col-sm-4 col-lg-4">
                       Symptoms
                    </label>
                    <div class="col-sm-8 col-lg-8">
                        <textarea id="symptoms" class="form-control" required></textarea>
                    </div>
                </div>
                
                <div class="form-group row justify-content-end">
                    <div class=" text-center col-sm-5"> 
                        <button type="submit">
                           Submit 
                        </button>
                    </div>
                </div>

              </form>
          </div>
          <div class="col-md-6">
              <h2 id="services" class="text-center my-4"></h2>
              <ul id="consultations"class="list-group"></ul>
          </div>
      </div>
  </div> 
    <script src="index.js"></script>
    <!-- Optional JavaScript
    jQuery first, then Popper.js, then Bootstrap JS  -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html> 
