<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container container_fluid mt-4 col-sm-4 col-lg-4 ">
        <div class="row">
            <div style="background-color: rgb(248, 183, 62); border-radius: 6px;">
              <h2 class="text-center my-3 px-3" >
                 Add an appointment 
              </h2>
            </div>
            <form method="POST" action="add" class="mt-3">
                {% csrf_token %}
                  <div class="form-group row mt-8">
                      <label class=" col-sm-4 col-lg-4" >
                           Firstname
                      </label>
                      <div class="col-sm-8 col-lg-8">
                          <input type="text" id="first_name" name="first_name"  class="form-control"
                          placeholder="Name"required>
                      </div>
                </div>
                  <div class="form-group row">
                    <label class=" text-center col-sm-4 col-lg-4">
                        Lastname
                    </label>
                    <div class="col-sm-8 col-lg-8">
                        <input type="text" id="last_name"name="last_name" class="form-control"
                        placeholder="Name"required> 
                    </div>
                </div>
                <div class="form-group row">
                    <label class=" text-center col-sm-4 col-lg-4">
                        Email
                    </label>
                    <div class="col-sm-8 col-lg-8">
                        <input type="email"id="email"class="form-control"
                        placeholder="Name"required> 
                    </div>
                </div>
                  
                <div class="form-group row">
                    <label class=" text-center col-sm-4 col-lg-4">
                        Mobile-ext
                    </label>
                    <div class="col-sm-8 col-lg-8">
                        <input type="text" id="mobile-ext" name="mobile-ext" class="form-control"
                        placeholder="123"required>
                    </div>
                </div>
               
               
                <div class="form-group row">
                    <label class="text-center col-sm-4 col-lg-4">
                        Mobile
                    </label>
                    <div class="col-sm-8 col-lg-8">
                        <input type="text" id="mobile" name="mobile" class="form-control"
                        placeholder="123"required>
                    </div>
                </div>
                
                <div class="form-group row">
                    <label class=" text-center col-sm-4 col-lg-4">
                      Date
                    </label>
                    <div class="col-sm-8 col-lg-8">
                        <input type="date" id="date" name="date" class="form-control">
                    </div>
                </div>
                
                <div class="form-group row">
                    <label class=" text-center col-sm-4 col-lg-4">
                       Time
                    </label>
                    <div class="col-sm-8 col-lg-8">
                        <input type="time" id="time" name="time" class="form-control">
                       </div>
                </div>
               
                <div class="form-group row">
                    <label class=" text-center col-sm-4 col-lg-4">
                       Symptoms
                    </label>
                    <div class="col-sm-8 col-lg-8">
                        <textarea id="symptoms"  name="symptoms" class="form-control" required></textarea>
                    </div>
                </div>
                
                <div class="form-group row justify-content-end">
                    <div class=" text-center col-sm-5"> 
                        <button type="submit" style="background-color: rgb(248, 183, 62);" >
                           Submit 
                        </button>
                    </div>
                </div>

              </form>
          </div>
      </div>
    </body>
</html>