<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is to do : Saar</h1>

    <table>
        <tr>
            <td><a href = "/add_item">Add an Appoinment</a>

            </td>
        </tr>
    </table>

    <table border="1" >
        <tr>
            <td>FirstName: </td>
            <td>LastName: </td>
            <td>Address: </td>
            <td>Email: </td>
            <td>code</td>
            <td></td>
        </tr>
        {% for appointment in appointments %}
           s
            <tr>
                <td>{{ appointment.firstname }}</td>
                <td>
                    <a href="/edit/{{ appointment.firstname }}">
                        <button>Edit</button>
                    </a>
                </td>
                <td>{{ appointment.lastname }}</td>
                <td>{{ appointment.address }}</td>
                <td>{{ appointment.email }}</td>
                <td>{{ appointment.mobile_ext }}</td>
                <td>{{ appointment.mobile }}</td>
                <td>{{ appointment.complaint_description }}</td>
                <td>{{ appointment.appointment_date_time }}</td>
                <td>{{ appointment.status }}</td> 
            </tr>
        {% endfor %}
    </table>
</body>
</html>