{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="JK Occupational Therapy, Ireland">
        <meta name="keywords" content="OT, Occupatioanal therapist, Occupational therapy">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" type="text/css" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css" type="text/css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"  
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel='shortcut icon' type='image/x-icon' href="{% static 'favicon.ico' %}" />

        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        
        <title>JK Occupational therapy </title>
    </head>
    <body>
        
        <form method="POST" action="do_authenticate">
            {% csrf_token %} 
            <label class=" text-center col-sm-4 col-lg-4" >
                UserName
                </label>
            <input type="text" id="user_name" name="user_name" class="form-control"
                placeholder="Name"required>
            <label class=" text-center col-sm-4 col-lg-4">
                Password
                </label>
            <input type="text"id="user_password" name="user_password" class="form-control"
                placeholder="Pass"required> 
            
    </body>
</html>