{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="JK Occupational Therapy, Ireland">
	<meta name="keywords" content="OT, Occupatioanal therapist, Occupational therapy">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
     integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
     <link rel='shortcut icon' type='image/x-icon' href="{% static 'favicon.ico' %}" />

     <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>JK Occupational therapy </title>
</head>
<body class="home">
        <div class="navbar navbar-expand-lg bg-dark navbar-dark"></div>
        <div class="p-4 bg-info text-white text-center">
          <img class="my-2 center" style="height: 100px;" src="{% static 'images/jk_logo.png' %}"/>
            <h1>
               JK Occupational Therapy
            </h1>
            <p>We provide excellent service because We care! We do!</p> 
          </div>
          <div class="navbar navbar-expand-lg bg-dark navbar-dark"></div>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: orange;">
            <div class="container-fluid">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active hvr-sweep-to-bottom ml-3 mr-3" style="color: black;" href="/home"><strong> Home</strong></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link hvr-sweep-to-bottom ml-3 mr-3" style="color: white;" href="/about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link hvr-sweep-to-bottom ml-3 mr-3" style="color: white;" href="/what_we_do">What We do</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link hvr-sweep-to-bottom ml-3 mr-3" style="color: white;" href="/appointment">Appointment </a>
                </li>
              </ul>
            </div>
          </nav>
          <div class="navbar navbar-expand-lg bg-dark navbar-dark"></div>
        </div> 
        <section  class="mx-4 mt-4 px-4 text-align: justify;">
            <div class="mx-4 px-4 pb-4 text-align: justify;">
                <img class="mx-auto d-block"
                 src="{% static 'images/ot.jpeg' %}"/>
                <h3 class="mt-3">
                    Occupational Therapy helps people to
                    participate in everyday meaningful
                    activities. <br><small> - Association of Occupational Therapists in
                    Ireland.</small>
                </h3>
                <p class="mt-3">
                    Occupational Therapists work with people of all ages, helping them
                    to carry out the activities that they need or want to do in order to
                    lead healthy and fulfilling lives. <br> - BRITISH ASSOCIATION OF OCCUPATIONAL
                    THERAPISTS
                </p>
                    <p class="mt-5">
                       <strong> Occupational therapists (OTs) work to break down the barriers which hold
                    back individuals in carrying out their day to day activities. </strong>
                    </p>
                    <p class="mb-5">
                        OTs not only look at the physical effects of ageing, injury or disease, but also address the
                    psycho-social, community and environmental factors that influence functional ability.
                    An OT will try to find out why you cannot do what you would like or need to do and,
                    depending on your situation, an OT may assess the following areas:
                </p>
                <div class="my-5 ">
                  <ul class="col-lg-12 text-white bg-dark">
                  <li class="ml-3 pt-3">What materials you need to participate in the occupation e.g. assistive technology,
                      furniture, cooking utensils, clothes and computers</li>
                  <li class="ml-3 pt-3">The social and emotional support available to you in your home, school, work and
                      community</li>
                  <li class="ml-3 py-3 ">The environment you are having difficulty in e.g. home, school, work or community</li>
                  </ul>
                </div>
            </div>
        </section>
              <div class="container  text-white my-5 px-5 border border-warning" style="background-color: rgb(233, 165, 39);" >
                <h2 class="text-center pt-3" style="color: #000;">Contact</h2>
                <p class="text-center">Opening Times Monday To Sunday 9am to 7pm</p>
                <div class="row">
                <div class="col-md-4 text-center">
                  <h6 style="color:  #000;"><strong>Phone Number:</strong></h6>
                  +353 873407834
                </div>
                <div class="col-md-4 text-center justify mb-4">
                  <h6 style="color:  #000;"><strong>Address:</strong></h6>
                  JK Ocuupational Therapy,<br>
                  18 El dorado,<br>
                  Limerick.<br>
                  Ireland.
                </div>
                <div class="col-md-4 text-center">
                  <h6 style="color:  #000;"><strong>Email:</strong></h6>
                  ramjothikumar@gmail.com
                </div>
              </div>
            </div>
          </div> 
          <div class="navbar navbar-expand-lg bg-dark navbar-dark"></div>
          <div class=" p-5 bg-info text-white text-center">
              <p class="mr-2" style="color: black;">Connect with us</p>
              <div class="smed">
              <a href=""><i class="fa-brands fa-square-twitter fa-2x mr-md-4 mr-4" style="color: orange;" ></i></a>
              <a href=""><i class="fa-brands fa-facebook  fa-2x mr-md-4 mr-4" style="color: orange;" ></i></a>
              <a href=""><i class="fa-brands fa-linkedin fa-2x mr-md-4 mr-4" style="color: orange;" ></i></a>
              <a href=""><i class="fa-brands fa-youtube fa-2x mr-md-4 mr-4" style="color: orange;" ></i></a>
              </div>    
          </div>
          <div class="navbar navbar-expand-lg bg-dark navbar-dark"></div>   
      </body>
      <script src="https://kit.fontawesome.com/af7da2c3f6.js" crossorigin="anonymous"></script>  
        
</body>
</html>